*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(
      131deg,
      rgba(186, 186, 186, 0.01) 0%,
      rgba(186, 186, 186, 0.01) 16.667%,
      rgba(192, 192, 192, 0.01) 16.667%,
      rgba(192, 192, 192, 0.01) 33.334%,
      rgba(48, 48, 48, 0.01) 33.334%,
      rgba(48, 48, 48, 0.01) 50.001000000000005%,
      rgba(33, 33, 33, 0.01) 50.001%,
      rgba(33, 33, 33, 0.01) 66.668%,
      rgba(182, 182, 182, 0.01) 66.668%,
      rgba(182, 182, 182, 0.01) 83.33500000000001%,
      rgba(211, 211, 211, 0.01) 83.335%,
      rgba(211, 211, 211, 0.01) 100.002%
    ),
    linear-gradient(
      148deg,
      rgba(48, 48, 48, 0.01) 0%,
      rgba(48, 48, 48, 0.01) 16.667%,
      rgba(178, 178, 178, 0.01) 16.667%,
      rgba(178, 178, 178, 0.01) 33.334%,
      rgba(192, 192, 192, 0.01) 33.334%,
      rgba(192, 192, 192, 0.01) 50.001000000000005%,
      rgba(237, 237, 237, 0.01) 50.001%,
      rgba(237, 237, 237, 0.01) 66.668%,
      rgba(194, 194, 194, 0.01) 66.668%,
      rgba(194, 194, 194, 0.01) 83.33500000000001%,
      rgba(227, 227, 227, 0.01) 83.335%,
      rgba(227, 227, 227, 0.01) 100.002%
    ),
    linear-gradient(
      138deg,
      rgba(146, 146, 146, 0.03) 0%,
      rgba(146, 146, 146, 0.03) 25%,
      rgba(33, 33, 33, 0.03) 25%,
      rgba(33, 33, 33, 0.03) 50%,
      rgba(46, 46, 46, 0.03) 50%,
      rgba(46, 46, 46, 0.03) 75%,
      rgba(172, 172, 172, 0.03) 75%,
      rgba(172, 172, 172, 0.03) 100%
    ),
    linear-gradient(
      38deg,
      rgba(3, 3, 3, 0.03) 0%,
      rgba(3, 3, 3, 0.03) 16.667%,
      rgba(28, 28, 28, 0.03) 16.667%,
      rgba(28, 28, 28, 0.03) 33.334%,
      rgba(236, 236, 236, 0.03) 33.334%,
      rgba(236, 236, 236, 0.03) 50.001000000000005%,
      rgba(3, 3, 3, 0.03) 50.001%,
      rgba(3, 3, 3, 0.03) 66.668%,
      rgba(207, 207, 207, 0.03) 66.668%,
      rgba(207, 207, 207, 0.03) 83.33500000000001%,
      rgba(183, 183, 183, 0.03) 83.335%,
      rgba(183, 183, 183, 0.03) 100.002%
    ),
    linear-gradient(
      145deg,
      rgba(20, 20, 20, 0.02) 0%,
      rgba(20, 20, 20, 0.02) 20%,
      rgba(4, 4, 4, 0.02) 20%,
      rgba(4, 4, 4, 0.02) 40%,
      rgba(194, 194, 194, 0.02) 40%,
      rgba(194, 194, 194, 0.02) 60%,
      rgba(34, 34, 34, 0.02) 60%,
      rgba(34, 34, 34, 0.02) 80%,
      rgba(71, 71, 71, 0.02) 80%,
      rgba(71, 71, 71, 0.02) 100%
    ),
    linear-gradient(
      78deg,
      rgba(190, 190, 190, 0.02) 0%,
      rgba(190, 190, 190, 0.02) 20%,
      rgba(95, 95, 95, 0.02) 20%,
      rgba(95, 95, 95, 0.02) 40%,
      rgba(71, 71, 71, 0.02) 40%,
      rgba(71, 71, 71, 0.02) 60%,
      rgba(7, 7, 7, 0.02) 60%,
      rgba(7, 7, 7, 0.02) 80%,
      rgba(130, 130, 130, 0.02) 80%,
      rgba(130, 130, 130, 0.02) 100%
    ),
    linear-gradient(
      293deg,
      rgba(213, 213, 213, 0.03) 0%,
      rgba(213, 213, 213, 0.03) 20%,
      rgba(220, 220, 220, 0.03) 20%,
      rgba(220, 220, 220, 0.03) 40%,
      rgba(146, 146, 146, 0.03) 40%,
      rgba(146, 146, 146, 0.03) 60%,
      rgba(57, 57, 57, 0.03) 60%,
      rgba(57, 57, 57, 0.03) 80%,
      rgba(120, 120, 120, 0.03) 80%,
      rgba(120, 120, 120, 0.03) 100%
    ),
    linear-gradient(90deg, rgb(225, 15, 180), rgb(78, 198, 243));
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
